aiofiles==0.7.0
aiogram== 3.0.0.a17
aiogram-utils
aiohttp==3.7.4.post0
async-lru==1.0.2
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
greenlet==1.1.2
idna==2.10
magic-filter==1.0.3
multidict==5.1.0
pyaes==1.6.1
pyasn1==0.4.8
pydantic==1.8.2
pytz==2021.1
requests==2.25.1
rsa==4.7.2
SQLAlchemy==1.4.26
Telethon==1.23.0
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
